.User-list {
  list-style: none;
}

.Avatar {
  text-align: center;
}

.Avatar img
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Avatar h2
{
  text-transform: capitalize;
  color: black;
  font-family : "Trebuchet MS", Helvetica, sans-serif;
}

.Avatar h4
{
  color: black;
  font-family : "Trebuchet MS", Helvetica, sans-serif;
}
body
{
  background-color : #cce0ff;
}
form
{
  text-align: center;
  background-color : #80b3ff;
  position : relative;
  margin-left : auto;
  margin-right : auto;
  width : 600px;
  padding : 10px;
  border-radius : 15px;
  overflow: hidden;
}

h1
{
  font-family : Impact, Charcoal, sans-serif;
  font-size : 30pt;
  text-align: center;
}

#submitButton
{
  background-color : #008CBA;
  border-radius : 2px;
  border : none;
  color : white;
  padding : 4px 12px;
  font-size : 10px;
  font-family : "Trebuchet MS", "Helvetica", "sans-serif";
}
