<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="avatar.js"></script>
<link rel="stylesheet" type="text/css" href="avatar.css">
  <meta charset="utf-8">
  <title>User Avatar Template</title>
</head>
<body>
  <div ng-app='app' ng-controller='mainCtrl'>
    <h1>CREATE NEW USER</h1>

    <form name='userForm' ng-submit='addNew(userForm)'>
      <input placeholder="Name" ng-model='userForm.name'/>
      <input placeholder="Image URL" ng-model='userForm.url'/>
      <input placeholder="Email" ng-model='userForm.email'/>

      <button id ='submitButton' type="submit">Add New</button>
    </form>

    <ul class="User-list">
      <li ng-repeat='user in users'>
        <avatar user='user' />
      </li>
    </ul>
  </div>
</body>
</html>
